<!--BLOQUE CONTENEDOR TODO-->
<div class="container-all">
  <!--BLOQUE CONTENEDOR PRINCIPAL-->
  <div class="container-main">

    <!--BLOQUE CONTENEDOR LOGO-->
    <div class="container-logo">
      <img class="logo" src="../../assets/img/sigma.svg" alt="">
    </div>
    <!--FIN BLOQUE CONTENEDOR LOGO-->

    <!--BLOQUE CONTENEDOR FORMULARIO-->
    <div class="container-form">
      <h2>Zona de Ingreso</h2>
      <p>¿Aún no estás registrado? <a routerLink="../registro">¡Regístrate Aquí!</a></p>

      <!--BLOQUE FORMULARIO AUTENTICACIÓN-->
      <form action="">
        <!--BLOQUE INPUT USERNAME-->
        <div class="container-input">
          <label for="id" class="text-label">Nombre de usuario</label>
            <input type="text" name="username" id="num_documento"
              class="username-input"  placeholder="Ingresa tu correo electrónico"
            >
        </div>
        <!--FIN BLOQUE INPUT USERNAME-->

        <!--BLOQUE INPUT PASSWORD-->
        <div class="container-pass">
          <label for="password" class="text-pass">Contraseña</label>
          <div x-data="{ hide: false }" class="container-pass-input" >
            <input [type]="hide ? 'password' : 'text'" name="password" id="password"
            class="pass-input" placeholder="Ingresa tu contraseña"
            >
            <button mat-icon-button (click)="hide = !hide"  type="button" class="show-pass" >
              <mat-icon class="icon-show">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
        </div>
        <!--FIN BLOQUE INPUT PASSWORD-->

        <!--RECORDAR DATOS-->
        <div class="container-recordar-datos">
          <input type="checkbox" name="remember_me" id="remember_me" class="checkbox">
          <label for="remember_me" class="recordar-datos">Recordar mis datos</label>
        </div>
        <!--FIN RECORDAR DATOS-->

        <!--BLOQUE INGRESO-->
        <div class="container-ingreso">
          <a routerLink="/reset-password" class="olvido-contraseña">¿Olvidaste tu contraseña?</a>
          <a routerLink="/dashboard"><button class="boton-ingreso">Ingresar</button></a>
        </div>
        <!--FIN BLOQUE INGRESO-->
      </form>
      <!--FIN FORMULARIO AUTENTICACIÓN-->

      <div class="container-divisor-todo">
        <div class=" container-divisor"></div>
        <span class="texto-divisor">O</span>
        <div class="posicion-divisor"></div>
      </div>

      <div class="container-google text-sm">
        <a href="#" class="link-google">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48"><path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"/><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"/><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"/><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"/></svg>
          <span>Inicia sesión con tu cuenta de Google</span>
      </a>
      </div>
    </div>
    <!--FIN BLOQUE CONTENEDOR FORMULARIO-->
  </div>
  <!--BLOQUE CONTENEDOR PRINCIPAL-->
</div>
<!--BLOQUE CONTENEDOR TODO-->


